<div class="jumbotron">
  <h1>Recipe Box</h1>
</div>
<div class="text-center">  
  <button class="btn btn-primary"><a href="/recipes/new">Add a New Recipe</a></button>
  <button class="btn btn-success"><a href="/recipes">View All Recipes</a></button>
</div>
