<div>
  <img src="/img/lamb.jpg" alt="lamb dish" />
</div>

<div class="text-center text-main">
  <button class="btn"><a href="/recipes/new">Add a New Recipe</a></button>
  <button class="btn"><a href="/recipes">View All Recipes</a></button>
  <button class="btn"><a href="/tags">View All Tags</a></button>
  <br><br>
  <form action="/recipes/ingredient_search" method="post">
    <div class="form-group">
      <label for="ingredient_search">Search Recipes by Ingredient:</label>
      <input type="text" name="ingredient_search">
      <button type="submit" class = "btn">Search</button>
    </div>
  </form>
</div>
